numpy>=1.26.3
onnx>=1.15.0
pytest>=8.0.0
pytest-xdist>=3.5.0
mypy==1.8.0
types-requests==2.31.0.20240125

# It is expected that you have installed a PyTorch version/variant specific
# to your needs, so we only include a minimum version spec.
torch>=2.3.0
