# Runtime deps.
gguf==0.6.0
numpy==1.26.3
onnx==1.15.0

# Model deps.
huggingface-hub==0.22.2
transformers==4.40.0
sentencepiece==0.2.0
datasets==3.0.0

# It is expected that you have installed a PyTorch version/variant specific
# to your needs, so we only include a minimum version spec.
# TODO: Use a versioned release once 2.3.0 drops.
torch>=2.3.0.dev1

# Used for managing pre-commit flows.
pre-commit

# Type checking
mypy==1.8.0
types-requests==2.31.0.20240125

# Testing
parameterized
pytest==8.0.0
pytest-xdist==3.5.0

# Serving deps.
fastapi==0.112.2
uvicorn==0.30.6
