iree-turbine

# Runtime deps.
gguf>=0.11.0
numpy

# Model deps.
huggingface-hub==0.22.2
transformers==4.40.0
datasets

# Serving deps.
fastapi>=0.112.2
uvicorn>=0.30.6

azure-identity>=1.19
azure-storage-blob>=12.24
