pytest
requests
fastapi
onnx
uvicorn

# Libraries needed to build in dev setups.
setuptools
wheel

# Deps needed for shortfin_apps.llm
dataclasses-json
tokenizers
numpy

# Deps needed for shortfin_apps.sd
pillow
transformers
