# Keep in sync with "ref: iree-" in .github/workflows/* and GIT_TAG in CMakeLists.txt
-f https://iree.dev/pip-release-links.html
iree-base-compiler==3.0.0rc20241114
iree-base-runtime==3.0.0rc20241114
